Repository mkonig/focus_move_app: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdown-lint, mdformat

lefthook.yml:

commit-msg:
  commands:
    "check commit message":
      run: cog verify --file {1}

pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}
    markdown-lint:
      glob: "*.md"
      run: markdownlint {staged_files}
    mdformat:
      glob: "*.md"
      run: mdformat {staged_files}

build: Added lefthook, cocogitto and editorconfig.
  .editorconfig
  .gitignore
  cog.toml
  devbox.json
  devbox.lock
  lefthook.yml
Due: none

build: Add authors to cocogitto config.
  cog.toml
Due: none

chore(version): v0.1.0
  CHANGELOG.md
Due: markdown-lint, mdformat

feat: Config option to define list of prioritzed apps.
  focus_move_app.sh
  focus_move_app.toml
Due: shellcheck

docs: Improved documentation.
  README.md
  focus_move_app.toml
Due: markdown-lint, mdformat

ci: Create main.yml
  .github/workflows/main.yml
Due: none

chore(version): v0.2.0
  CHANGELOG.md
Due: markdown-lint, mdformat

feat: Add config option for app position.
  README.md
  bin/focus_move_app.sh
  cog.toml
  focus_move_app.toml
Due: shellcheck, markdown-lint, mdformat

chore(version): v0.3.0
  CHANGELOG.md
Due: markdown-lint, mdformat

docs: New changelog with links.
  CHANGELOG.md
  lefthook.yml
Due: markdown-lint, mdformat

fix: Config file points to /home/mkonig/.config/focus_move_app/focus_move_app.toml
  bin/focus_move_app.sh
Due: shellcheck

chore(version): v0.3.1
  CHANGELOG.md
Due: markdown-lint, mdformat

fix: Config file points to $XDG_CONFIG_HOME/.config/focus_move_app/focus_move_app.toml
  bin/focus_move_app.sh
Due: shellcheck
